<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Register</title>
</head>
<body>
  <%- include('partials/__header') %>
  
  <div class="container" style="margin: 2em;">
    <h4>Sign In:</h3>
    <form class="form-inline" method="POST" action="/login">
      <input class="form-control" type="text" name="email" placeholder="Email" style="width: 300px;">
      <input class="form-control" type="text" name="password" placeholder="Password" style="width: 300px;">
      <button type="submit" class="btn btn-outline-dark">Login</button>
    </form>
  </div>
  <div class="container" style="margin:2em">
    <h4>Not an existing user? Register <a href="/register">here</a>.</h4>
  </div>
</body>
</html>