<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Create Account</title>
</head>
<body>
  <%- include('partials/__header') %>

  <div class="container" style="margin: 2em;">
    <h3><b>Create Account</b></h3>
    <form method="POST" action="/register">
          <h5 style="margin-top: 1em">Email address</h5>
          <input class="form-control" style="max-width: 20em" type="email" name="email" placeholder="email">
          <h5 style="margin-top: 1em">Password</h5>
          <input class="form-control" style="max-width: 20em" type="password" name="password" placeholder="password">
          <button type="submit" class="btn btn-primary" style="margin-top:1em">Register</button>
    </form>
  </div>
</body>
</html>