<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Register</title>
</head>
<body>

  <div class="container" style="margin: 2em;">
    <h4>Registration Form:</h3>
    <form method="POST" action="/register">
        <div class="row">
          <input type="email" name="email" placeholder="email">
        </div>
        <div class="row">
          <input type="password" name="password" placeholder="password">
        
          <button type="submit" class="btn-secondary">Submit</button>
      </div>
    </form>
  </div>
</body>
</html>